.checkout{
  width:100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout-title{
  margin-right: 10px;
  padding: 10px;
  color:rgb(3, 3, 54);
  border-bottom: 1px solid lightgray;
}
.checkout-left{
  display: flex;
  flex-direction: column;
  width:60%;
}
.singelItem{
  display:flex;
  flex-direction: row;
  padding:10px;
}
.product-detail{
  display:flex;
  flex-direction: column;
  width: 50%;
  padding-top: 20px;
  padding-left:20px;
  line-height: 1.5;
}

.checkout-list{
  width:80%;
  display:flex;
  flex-direction: column;
  margin-left: 10%;
  background-color: rgb(246, 249, 250);
  padding:10px;
}

.checkout-list-image{
  width:30%;
}

.remove-btn{
  width:40%;
  height:35px;
  margin-left: 30%;
  margin-top: 20px;
  background-color: rgb(161, 13, 8);
  color:whitesmoke;
  font-size: medium;
  border-radius: 20px;
  border: none;

}